<%- include('../partials/header.ejs')%>
    <main>
        <div id="item">
            <div id="item-pic">
                <img src="data:image/png;base64,<%=item.image%>">
            </div>

            <div id="item-description">
                <h3><%=item.title%></h3>
                <p>Condition: <%=item.condition%></p>
                <p>Price: $<%=item.price%></p>

                <% if (item.totalOffers > 0) { %>
                    <p><strong>Total Offers:</strong> <%= item.totalOffers %></p>
                    <p><strong>Highest Offer:</strong> $<%= item.highestOffer.toFixed(2) %></p>
                  <% } else if (!item.active) { %>
                    <p><strong>Status:</strong> This item is no longer available.</p>
                  <% } %>
                  
                
                <p>Seller: <%=item.seller.firstName%></p>
                <p>Details: <%=item.description%></p>

                <a href="/items/<%=item._id%>/edit">
                    <div class="button" id="edit-button">
                        <img src="/images/pencil.svg">
                        <p>Edit</p>
                    </div>
                </a>

                <div class="button" id="delete-button">
                    <form action="/items/<%= item._id %>?_method=DELETE" method="POST">
                        <button type="submit" id="delete-button" onclick="return confirm('Are you sure you want to delete this item?')">
                            <img src="/images/trash-can.svg">
                            <p>Delete</p>
                        </button>
                    </form>
                    
                </div>
            </div>
            <% if (item.active && locals.currentUser && String(item.seller._id) !== String(locals.currentUser._id)) { %>
                <form action="/items/<%= item._id %>/offers" method="POST">
                  <label for="amount">Make an Offer ($):</label>
                  <input type="number" name="amount" step="0.01" min="0.01" required>
                  <button type="submit">Submit Offer</button>
                </form>
              <% } %>
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>
